.border{
  width: 75vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  display:flex;
  gap: -10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.row > div{
  margin-right: -20px;
}