.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  background: #ccc;
  transform: translateX(-25%);
}

.p1{
  height: 100%;
  background: linear-gradient(to top, #2c0840, #000000 40%);;
  //background-image: url("./assets/T_UI_OperationCH_Guide_P1.png");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  flex: 1 0 75%;
  transform: translateX(10%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}

.p1.picking{
  background: linear-gradient(to top, #6c0000 0%, #f43a3a 40%, #000000 100%);
}

.p2{
  height: 100%;
  background: linear-gradient(to top, #2c0840, #000000 40%);;
  //background-image: url("./assets/T_UI_OperationCH_Guide_P2.png");
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  flex: 1 0 75%;
  transform: translateX(-5%);
  display: flex;
  align-items: center;
  justify-content: center;

}

.p2.picking{
  background: linear-gradient(to top, #004e6c, #00b2ed 40%, #000000 100%);
}

.roster{
  position: absolute;
  bottom: 0;
  margin-bottom: 15vmin;
  width: 75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale
}

.character-name-p1{
  position: absolute;
  bottom: 0;
  left: 25%;
  z-index: 10;
  padding-bottom: 10px;
}

.character-name-p1 img {
  width: auto;
  height: 100px;
}

.character-name-p2 img {
  width: auto;
  height: 100px;
}

.character-name-p2 {
  position: absolute;
  bottom: 0;
  left: 35%;
  z-index: 10;
  padding-bottom: 10px;
  width: 35%;
  display: flex;
  justify-content: flex-end;

}

.player-label-p1{
  position: absolute;
  z-index: 2;
  left: 25%;
}

.player-label-p2{
  position: absolute;
  z-index: 2;
  right: 30%;
}

.player-label-p1 img{
  width: 20vmin;
  height: auto;
}

.player-label-p2 img{
  width: 20vmin;
  height: auto;
}

.vs{
  z-index: 3;
  margin: auto;
  position: absolute;
}

.vs img{
  width: 60vmin;
  height: auto;
}

.vs-screen-background-p1{
  position: absolute;
  z-index: -3;
  padding-right:520px;
}

.vs-screen-background-p2{
  position: absolute;
  z-index: -3;
  padding-left:420px;
}

.vs-screen-background-p1 img{
  width: 2000px;
  height: auto;
  transform: scaleX(-1);
  clip-path: inset(0 0 500px 0);
  opacity: 0.4;
}

.vs-screen-background-p2 img{
  width: 2000px;
  height: auto;
  clip-path: inset(0 0 500px 0);
  opacity: 0.4;
}