
.window{
  background: linear-gradient(to top, #2c0840, #000000 40%);
  width: 100vw;
  height: 100vh;
  position: relative;
}

.container{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  background: #ccc;
  transform: translateX(-25%);
}

.left{
  height: 100%;
  background: linear-gradient(to top, #2c0840, #000000 40%);;
  //background-image: url("./assets/T_UI_OperationCH_Guide_P1.png");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  flex: 1 0 75%;
  transform: translateX(10%);
  display: flex;
  align-items: center;
  justify-content: center;


  &:hover{
    background: linear-gradient(to top, #6c0000 0%, #f43a3a 40%, #000000 100%);

  }
}

.right{
  height: 100%;
  background: linear-gradient(to top, #2c0840, #000000 40%);;
  //background-image: url("./assets/T_UI_OperationCH_Guide_P2.png");
  clip-path: polygon(10% 0, 100% 0, 100% 100%, 0% 100%);
  flex: 1 0 75%;
  transform: translateX(-5%);
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover{
    background: linear-gradient(to top, #004e6c, #00b2ed 40%, #000000 100%);

  }
}



.left .img {
  align-self: center;
  justify-self: center;
  //padding-left: 10%;
}

.right .img {
  align-self: center;
  justify-self: center;
  padding-right: 14%;

}

.text-box-container{
  width: 20vw;
  height: auto;
  position: absolute;
  bottom: 0;
  margin-bottom: 5vmin;
  border-radius: 2px;
  border: 2px solid #b49fed;
  background: linear-gradient(to top, rebeccapurple, #431c60 50%);
  box-shadow: 1px 1px 15px #b49fed;
  justify-self: center;
  background: #2f0945;
  background-image:
          linear-gradient(180deg,
                  rgba(255, 255, 255, 0) 0%,
                  rgb(179, 116, 227) 10%,
                  rgba(255,255,255,0) 75%),

}

.text {
  text-align: center;
  color: white;
  font-family: "Segoe UI Black";
  text-shadow: 1px 1px 10px #b49fed;
  padding: 2vmin;
  font-style: italic;
}